<div>
  <h2>When I click (?:on )?$emberBddLabel</h2>

  <button
    data-test-click-button
    type="button"
    {{on "click" this.click.action}}
  >
  </button>

  {{#if this.click.prop}}
    <span data-test-click-result></span>
  {{/if}}

  <hr>

  <h2>Then there should be (NO |no )?(?:(\\d+) )?$emberBddLabel</h2>

  <div data-test-item></div>
  <div data-test-item="foo"></div>

  <hr>

  <h2>When I double click (?:on )?$emberBddLabel</h2>

  <button
    data-test-double-click-button
    type="button"
    {{on "dblclick" this.dblclick.action}}
  >
  </button>

  {{#if this.dblclick.prop}}
    <span data-test-double-click-result></span>
  {{/if}}

  <hr>

  <h2>When I (?:fill|type) $emberBddString into $emberBddLabel</h2>
  <h2>Then $emberBddLabel should (not |NOT )?(?:have text|say|be) $emberBddString</h2>

  <div data-test-text-field>
    <label data-test-label for="text-field-input">
      Text field
    </label>

    <input data-test-input type="text" id="text-field-input">
  </div>

  <hr>

  <h2>When I move the mouse pointer into $emberBddLabel</h2>
  <h2>When I move the mouse pointer out of $emberBddLabel</h2>
  <h2>Then $emberBddLabel should (not |NOT )?have HTML class $emberBddString</h2>

  <div
    data-test-cursor-target
    class={{if this.mouseEnterLeave.isActive "-active"}}
    {{on "mouseenter" (fn this.mouseEnterLeave.action true)}}
    {{on "mouseleave" (fn this.mouseEnterLeave.action false)}}
  ></div>

  <hr>

  <h2>When I (de)?select (?:the )?(?:radio button|checkbox) $emberBddLabel</h2>
  <h2>Then $emberBddLabel should (not |NOT )?be checked</h2>

  <input data-test-checkbox="unchecked" type="checkbox">
  <input data-test-checkbox="checked" type="checkbox" checked>
  <input data-test-radio="unchecked" type="radio" name="radio group">
  <input data-test-radio="checked" type="radio" checked name="radio group">
</div>